:root {
  --vp-font-family-base: 'Noto Sans', 'Noto Sans JP', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
}

// Noto Sans
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSans-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/font/NotoSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/font/NotoSans-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/font/NotoSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/font/NotoSans-SemiBoldItalic.woff2') format('woff2');
}

// NotoSans JP
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSansCJKjp-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/font/NotoSansCJKjp-Bold.woff2') format('woff2');
}

// Noto Sans SC
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSansCJKsc-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/font/NotoSansCJKsc-Bold.woff2') format('woff2');
}

// 簡体字
[hans] {
  font-family: 'Noto Sans SC', var(--vp-font-family-base);
}

// Noto Sans TC
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSansCJKtc-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/font/NotoSansCJKtc-Bold.woff2') format('woff2');
}

// 繁体字
[hant] {
  font-family: 'Noto Sans TC', var(--vp-font-family-base);
}

// Monomakh Unicode
@font-face {
  font-family: 'Monomakh Unicode';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/font/MonomakhUnicode.woff2') format('woff2');
}

// キリル文字（古代教会スラヴ語での異種）
[cyrs] {
  font-family: 'Monomakh Unicode', var(--vp-font-family-base);
}

// Shafarik
@font-face {
  font-family: 'Shafarik';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/font/Shafarik-Regular.woff2') format('woff2');
}

// グラゴル文字
[glag] {
  font-family: 'Shafarik', var(--vp-font-family-base);
}
