:root {
  --vp-font-family-base: 'Noto Sans', 'Noto Sans JP', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
}

// Noto Sans
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/font/NotoSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/font/NotoSans-SemiBold.woff2') format('woff2');
}

// Noto Sans JP
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/NotoSansCJKjp-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/font/NotoSansCJKjp-Bold.woff2') format('woff2');
}

// Monomakh Unicode
@font-face {
  font-family: 'Monomakh Unicode';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://sci.ponomar.net/fonts/MonomakhUnicode.eot');
  src: url('https://sci.ponomar.net/fonts/MonomakhUnicode.eot?#iefix') format('embedded-opentype'),
    url('https://sci.ponomar.net/fonts/MonomakhUnicode.woff2') format('woff2'),
    url('https://sci.ponomar.net/fonts/MonomakhUnicode.woff') format('woff'),
    url('https://sci.ponomar.net/fonts/MonomakhUnicode.ttf') format('truetype');
}

// Shafarik
@font-face {
  font-family: 'Shafarik';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://sci.ponomar.net/fonts/Shafarik-Regular.eot');
  src: url('https://sci.ponomar.net/fonts/Shafarik-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://sci.ponomar.net/fonts/Shafarik-Regular.woff2') format('woff2'),
    url('https://sci.ponomar.net/fonts/Shafarik-Regular.woff') format('woff'),
    url('https://sci.ponomar.net/fonts/Shafarik-Regular.ttf') format('truetype');
}
