@import url('font.scss');
@import url('./theme-default/VPDocFooter.scss');

:root {
  --vp-c-blue: #679fd1;
  --vp-c-blue-light: #79aedc;
  --vp-c-blue-lighter: #c4dcee;
  --vp-c-blue-dark: #4d82b1;
  --vp-c-blue-darker: #19609e;

  --vp-c-brand: var(--vp-c-blue);
  --vp-c-brand-light: var(--vp-c-blue-light);
  --vp-c-brand-lighter: var(--vp-c-blue-lighter);
  --vp-c-brand-dark: var(--vp-c-blue-dark);
  --vp-c-brand-darker: var(--vp-c-blue-darker);
}
