.VPDocFooter {
  margin: 0 !important;

  .edit-info {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column-reverse;
  
    @media (min-width: 640px) {
      flex-direction: row;
    }
  }
}
